---
---

<style>
  footer {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    font-weight: normal;
    background: #24122b;
    min-height: 150px;
    text-align: center;
    padding: 0.5rem;

    & p {
      margin-bottom: 0.5rem;
    }

    & strong {
      color: #f27cff;
    }

    & small {
      font-size: 1rem;
    }

    & a {
      color: #f5f5f5;

      &:hover {
        color: #dbe04f;
      }
    }
  }
</style>

<footer>
  <p><strong>Diseñado</strong> por <a href="https://x.com/blursoul_">BlurSoul_</a> y <strong>Programado</strong> por <a href="https://links.manz.dev/">ManzDev</a></p>
  <small>Hecho con 💖 en <a href="https://astro.build/">Astro</a></small>
</footer>
